{% style %}
  .fav-cards {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
{% endstyle %}

<div class="favourites h-auto py-16 bg-[#FDF7F6]">
  <div class="container mx-auto">
    <div class="text-center mb-16">
      <p class="text-[#CB8161] font-bold tracking-wide">{{ section.settings.title }}</p>
      <h1 class="text-5xl">{{ section.settings.subtitle }}</h1>
    </div>

    <div class="fav-cards grid gap-8 w-[90%] mx-auto">
      {% for product in collections.best-sellers.products limit: 4 %}

        <div data-aos="fade-down" data-aos-delay="{{ forloop.index0 |  times: 100}}">
          {% render "product-card", product: product %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero Favourites",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "DISCOVER THIS WEEK’S"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Jewellery Favourites"
      }
    ]
}
{% endschema %}
